body { 
font-family: Arial; 
background-color: #f2f2f2; 
} 
.bg_image {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image:url(https://wallpapers.com/images/high/library-filled-with-books-vyy56lqa9wji657j.webp);
background-size: cover;
background-repeat: no-repeat;
background-positio: center;
z-index: -1;
}
.container { 
position: relative;
z-index: 1;
width: 90%; 
margin: auto; 
} 
.header { 
background-color: #BAB86C; 
padding: 20px; 
text-align: center; 
} 
.section { 
background-color: #F5F5DC; 
padding: 20px; 
margin-top: 20px; 
border: 2px solid #ccc;
box-sizing: border-box;
} 
.section p::first-letter {
font-size: 22px;
font-wieght: bold;
color: #6A6E09;
}
a:hover {
color: red;
}
input:focus {
border: 2px solid #BAB86C;
}
buton:hover, input[type="submit"]:hover {
background-color:  #6A6E09;
cursor: pointer;
}
table { 
border-collapse: collapse; 
width: 80%; 
} 
th, td { 
border: 1px solid black; 
padding: 8px; 
text-align: center; 
} 
th { 
background-color: lightgray; 
}